a {
    text-decoration: none !important;
}

.enc_dec {
    margin-left: 10px;
}

.nav > li > a {
    color: white;
}

table {
    table-layout: fixed;
}

th.fixed-header {
    width: 33%;
}

th.short-width {
    width: 10%
}

.share-field {
    width: 500px;
}