{% extends 'base.html' %}

{% block content %}

<div class="alert alert-info" role="alert">
    {% if enc %}
        <p>Insert at least {{ scheme.k }} shares to encrypt your file, be careful to place each share on its right position</p>
    {% else %}
        <p>Insert at least {{ scheme.k }} shares to decrypt your file, be careful to place each share on its right position</p>
    {% endif %}
</div>

<div class="card">
    <div class="card-header">
        {% if enc %}
            Encrypt file {{document.name}} ({{document.filename}})
        {% else %}
            Decrypt file {{document.name}} ({{document.filename}})
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if enc %}
                <button class="btn btn-primary" type="submit"><i class="fas fa-lock"></i> Encrypt</button>
            {% else %}
                <button class="btn btn-primary" type="submit"><i class="fas fa-lock-open"></i> Decrypt</button>
            {% endif %}
            <a class="btn btn-primary" href="/folder/{{ document.folder_id }}"><i class="fas fa-arrow-circle-left"></i> Back to {{ document.folder.name }}</a>
        </form>
    </div>
</div>

<script>

    $('#id_scheme').on('change', function(){
        var id = $(this).val()
        var splitted_path = window.location.pathname.split('/')
        splitted_path.pop()
        splitted_path.pop()
        splitted_path.push(id)
        var pathname = splitted_path.join('/')
        location.pathname = pathname
    })

</script>

{% endblock %}