{% extends 'base.html' %}

{% block content %}

{% block title %}<h4>Here are your shares for <strong>{{ scheme.name }}</strong>!</h4>{% endblock %}

<div class="alert alert-danger" role="alert">
    <p><strong>Be careful!</strong></p>
    <ul>
        <li><p>These shares are not stored anywhere and you won't be able to recover your encrypted
            files if you lose at least {{ scheme.k }} of it</p></li>
        <li><p>make sure to save them in a safe place or distribute among your trusted partners</p></li>
    </ul>
</div>
<h5><a href="/s/gen/{{ scheme.id }}" id="json-dl" class="btn btn-primary"><i class="fas fa-file-download"></i> Download as
    JSON</a></h5>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="short-width"># Share</th>
        <th scope="col">Share value</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>


    {% for share in shares %}

    <tr>
        <td>{{ share.0 }}</td>
        <td id="share-{{ share.0 }}" class="shares">{{ share.1 }}</td>
        <td><a href="#" data-share="share-{{ share.0 }}" class="btn btn-warning float-right clip"><i
                class="far fa-clone"></i> Copy to clipboard</a></td>
    </tr>


    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="/s/"><i class="fas fa-arrow-circle-left"></i> Back to scheme list</a>

<script>

    $('#json-dl').on('click', function(e){
        e.preventDefault()
        var json_obj = {}
        var count = 1
        $('.shares').each(function(){
            var key = 'share ' + count
            json_obj[key] = $(this).text()
            count++
        })
        download('data.json', JSON.stringify(json_obj))

    })

    function download(filename, text) {
        var element = document.createElement('a')
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text))
        element.setAttribute('download', filename)
        element.style.display = 'none'
        document.body.appendChild(element)
        element.click()
        document.body.removeChild(element)
}

    $('.clip').on('click', function(e){
        e.preventDefault()
        var id = $(this).data('share')
        var text = $('#' + id).text()
        var $temp = $("<input>")
        $("body").append($temp)
        $temp.val(text).select()
        document.execCommand("copy")
        $temp.remove()
        alert('done!')
    });

</script>


{% endblock %}