{% extends 'base.html' %}

{% block content %}

{% block title %}<h4>Saved Schemes</h4>{% endblock %}

<h5><a href="/s/create" class="btn btn-primary"><i class="far fa-plus-square"></i> Create Scheme</a></h5>

{% if schemes %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Field Size</th>
        <th scope="col">Min. Shares (k)</th>
        <th scope="col">Total Shares (n)</th>
        <th scope="col">Generate Shares</th>
    </tr>
    </thead>
    <tbody>



    {% for scheme in schemes %}

    <tr>
        <td><i class="fas fa-cogs"></i> {{ scheme.name }}</td>
        <td>2<sup>{{ scheme.mers_exp }}</sup> - 1</td>
        <td>{{ scheme.k }}</td>
        <td>{{ scheme.n }}</td>
        <td><a href="/s/refresh/{{ scheme.id }}" class="btn btn-warning float-right"><i class="fas fa-key"></i> Regenerate</a></td>
    </tr>

    {% endfor %}

    </tbody>
</table>


{% else %}

<p>No schemes found, click on Create Scheme to create one</p>

{% endif %}

{% endblock %}