{% extends 'base.html' %}

{% block content %}

{% block title %}<h4>Saved Schemes</h4>{% endblock %}

<h5><a href="/s/create" class="btn btn-primary"><i class="far fa-plus-square"></i> Create Scheme</a></h5>

{% if schemes %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Field Size</th>
        <th scope="col">Min. Shares (k)</th>
        <th scope="col">Total Shares (n)</th>
        <th scope="col" class="medium-width">Actions</th>
    </tr>
    </thead>
    <tbody>


    {% for scheme in schemes %}

    <tr>
        <td><i class="fas fa-cogs"></i> {{ scheme.name }}</td>
        <td>2<sup>{{ scheme.mers_exp }}</sup> - 1</td>
        <td>{{ scheme.k }}</td>
        <td>{{ scheme.n }}</td>
        <td>
            <form method="post" action="/s/refresh/{{ scheme.id }}/">
                {% csrf_token %}
                {{ r_form.as_p }}
                <button type="submit" class="btn btn-warning float-right enc_dec"><i class="fas fa-key"></i> Regenerate
                </button>
            </form>
             <form method="post" action="/s/delete/{{ scheme.id }}/">
                {% csrf_token %}
                {{ d_form.as_p }}
                <button type="submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Delete
                </button>
            </form>
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>


{% else %}

<p>No schemes found, click on Create Scheme to create one</p>

{% endif %}

{% endblock %}