{% extends 'base.html' %}

{% block content %}

{% block title %}<h4>folder {{ root.name }}</h4>{% endblock %}

<h5><a class="btn btn-primary" href="/create/"><i class="far fa-plus-square"></i> Create Folder</a>&nbsp;<a class="btn btn-primary" href="/upload/{{ root.id }}/"><i class="fas fa-file-upload"></i> Upload Files</a></h5>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

        <tr>
        <td><a href="#"><i class="far fa-folder"></i> .</a></td>
        <td></td>
        <td></td>
    </tr>

    <tr>

    {% if root.parent %}

        <td><a href="/folder/{{ root.parent.id }}"><i class="far fa-folder"></i> ..</a></td>

        {% else %}

        <td><a href="/"><i class="far fa-folder"></i> ..</a></td>

        {% endif %}

        <td></td>
        <td></td>
    </tr>

    {% if children %}

    {% for child in children %}

    <tr>
        <td><a href="/folder/{{ child.id }}/"><i class="far fa-folder"></i> {{ child.name }}</a></td>
        <td>{{ child.creation_date | date:'Y-m-d H:i' }}</td>
        <td>
            <form method="post" action="/delete/{{ child.id }}/">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Delete</button>
            </form>
        </td>
    </tr>

    {% endfor %}

    {% endif %}

    {% if documents %}

    {% for document in documents %}

    <tr>
        <td><a href="/download/{{ document.id }}/"><i class="far fa-file"></i> {{ document.name }} {{ document.filename }}</a></td>
        <td>{{ document.creation_date | date:'Y-m-d H:i' }}</td>
        <td>
            <form method="post" action="/delete_doc/{{ document.id }}/">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
            </form>
        </td>
    </tr>

    {% endfor %}

    {% endif %}

    </tbody>
</table>

{% endblock %}