{% extends 'base.html' %}
{% load file_handler_extras %}

{% block content %}

{% block title %}<h4>{% breadcrumb root %}</h4>{% endblock %}

<h5><a class="btn btn-primary" href="/create/{{ root.id }}"><i class="far fa-plus-square"></i> Create Folder</a>&nbsp;<a class="btn btn-primary" href="/upload/{{ root.id }}/"><i class="fas fa-file-upload"></i> Upload Files</a></h5>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col" class="fixed-header">Created at</th>
        <th scope="col" class="fixed-header">Action</th>
    </tr>
    </thead>
    <tbody>

        <tr>
        <td><a href="#"><i class="far fa-folder"></i> .</a></td>
        <td></td>
        <td></td>
    </tr>

    <tr>

    {% if root.parent %}

        <td><a href="/folder/{{ root.parent.id }}"><i class="far fa-folder"></i> ..</a></td>

        {% else %}

        <td><a href="/"><i class="far fa-folder"></i> ..</a></td>

        {% endif %}

        <td></td>
        <td></td>
    </tr>

    {% if children %}

        {% for child in children %}

        <tr>
            <td><a href="/folder/{{ child.id }}/"><i class="far fa-folder"></i> {{ child.name }}</a></td>
            <td>{{ child.creation_date | date:'Y-m-d H:i' }}</td>
            <td>
                <form method="post" action="/delete/{{ child.id }}/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

    {% endif %}

    {% if documents %}

        {% for document in documents %}

        <tr>
            <td><a href="/download/{{ document.id }}/"><i class="far fa-file"></i> {{ document.name }} {{ document.filename }}</a></td>
            <td>{{ document.creation_date | date:'Y-m-d H:i' }}</td>
            <td>
                {% if document.scheme == None %}
                    {% if scheme == None %}
                        <a href="#" class="btn btn-secondary float-right enc_dec" title="Create at least one scheme to encrypt your file"><i class="fas fa-lock"></i> Encrypt</a>
                    {% else %}
                        <a href="/s/encrypt/{{document.id}}/{{ scheme.id }}" class="btn btn-warning float-right enc_dec"><i class="fas fa-lock"></i> Encrypt</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-success float-right enc_dec"><i class="fas fa-lock-open"></i> Decrypt</a>
                {% endif %}
                <form method="post" action="/delete_doc/{{ document.id }}/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

    {% endif %}

    </tbody>
</table>

{% endblock %}