<h4>folder {{ root.name }}</h4>

{% if root.parent %}

    <h5><a href="/{{ root.parent.id }}">Back to parent folder ({{ root.parent.name }})</a></h5>

{% else %}

    <h5>filesystem root</h5>

{% endif %}

{% if children %}

    <h5>children folders</h5>

    <ul>

    {% for child in children %}

        <li><a href="/{{ child.id }}/">{{ child.name }}</a></li>

    {% endfor %}

    </ul>

{% else %}

    <p>folder {{ root.name }} has no children folders</p>

{% endif %}

{% if documents %}

    <h5>documents</h5>

    <ul>

    {% for document in documents %}

        <li><a href="/download/{{ document.id }}">{{ document.name }} ({{ document.filename }}) </a></li>

    {% endfor %}

    </ul>

{% else %}

    <p>folder {{ root.name }} is empty</p>

{% endif %}

<h5><a href="/create/{{ root.id }}/">Create Folder</a></h5>
<h5><a href="/upload/{{ root.id }}/">Upload Files</a></h5>