{% extends 'base.html' %}
{% load file_handler_extras %}

{% block content %}

{% block title %}<h4>{% breadcrumb None %}</h4>{% endblock %}

<h5><a href="/create/" class="btn btn-primary"><i class="far fa-plus-square"></i> Create Folder</a>&nbsp;</h5>

{% if root_folders %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td><a href="/"><i class="far fa-folder"></i> .</a></td>
        <td></td>
        <td></td>
    </tr>

    {% for folder in root_folders %}

    <tr>
        <td><a href="folder/{{ folder.id }}/"><i class="far fa-folder"></i> {{ folder.name }}</a></td>
        <td>{{ folder.creation_date | date:'Y-m-d H:i' }}</td>
        <td>
            <form method="post" action="/delete/{{ folder.id }}/">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Delete</button>
            </form>
        </td>
    </tr>


    {% endfor %}
    </tbody>
</table>


{% else %}

<p>Your filesystem is empty</p>

{% endif %}

{% endblock %}