{% extends 'base.html' %}

{% block content %}

    {% if root_folders %}

        <h5>root folders</h5>

        <ul>

        {% for folder in root_folders %}

            <li><a href="folder/{{ folder.id }}/">{{ folder.name }}</a>
                <form method="post" action="/delete/{{ folder.id }}/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Delete Folder</button>
                 </form>
            </li>

        {% endfor %}

        </ul>

    {% else %}

        <p>Your filesystem is empty</p>

    {% endif %}

    <h5><a href="/create/">Create Root Folder</a></h5>

{% endblock %}