{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div class="card login_card">
                <div class="card-header">
                    My Cloud Login
                </div>
                <div class="card-body login-card">
                    <p class="text-muted">Sign in to access your files and schemes.</p>
                    <a class="btn btn-primary btn-block" href="{% provider_login_url 'google' %}">
                        <i class="fab fa-google"></i> Sign in with Google
                    </a>
                </div>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>

{% endblock %}
