{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
            <div class="card login_card">
                <div class="card-header">
                    My Cloud Login
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <button class="btn btn-primary float-right" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>

{% endblock %}